<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OKCHEM - Global B2B Platform for Chemical Raw Materials</title>
    <meta
      name="description"
      content="OKCHEM provides huge selection of quality chemical products and manufacturers from China, as well as Global Sourcing, Factory Audit, Production Inspection, Monitor Deliveries, China Travel Assistance, Industry News on okchem.com."
    />
    <meta
      name="keywords"
      content="Chemicals, Chemical Products, Chemical Suppliers, Chemical Manufacturers, Global Sourcing, Factory Audit, Production Inspection, Monitor Deliveries, China Travel Assistance, Industry News"
    />
    <link
      rel="shortcut icon"
      href="https://s3cdn.okchem.com/common/icons/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="https://s3cdn.okchem.com/common/icons/favicon.ico"
      type="image/x-icon"
    />
    <link rel="alternate" hreflang="en" href="//m.okchem.com/" />
    <link rel="alternate" hreflang="es" href="//m.es.okchem.com/" />
    <link rel="alternate" hreflang="pt" href="//m.pt.okchem.com/" />
    <link rel="alternate" hreflang="ru" href="//m.ru.okchem.com/" />
    <link rel="canonical" href="https://m.okchem.com/" />
    <link
      rel="stylesheet"
      href="//wcdn.okchem.com/resources/common/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="//wcdn.okchem.com/resources/mobile/okchem/css/wap.css?2.16.11"
    />
    <link
      rel="stylesheet"
      href="//wcdn.okchem.com/resources/common/css/swiper-3.4.2.min.css"
    />
    <script>
      document.documentElement.style.fontSize = innerWidth / 7.5 + "px";
      window.onresize = function() {
        document.documentElement.style.fontSize = innerWidth / 7.5 + "px";
      };
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-80975232-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-80975232-1");

      function sendEvent(operator, category) {
        gtag("event", operator, {
          event_category: category
        });
      }
    </script>
  </head>
  <body>
    <div class="home-box">
      <div class="home-head">
        <div class="home-head-logo">
          <ul class="home-count js-home-count">
            <li class="active">
              <div>1,000,000+</div>
              <p>Chemical Products</p>
            </li>
            <li>
              <div>30,000+</div>
              <p>Global Chemical Suppliers</p>
            </li>
            <li>
              <div>1,000,000+</div>
              <p>Global Chemical Buyers</p>
            </li>
            <li>
              <div>14</div>
              <p>Overseas Offices</p>
            </li>
            <li>
              <div>100+</div>
              <p>Global Shows Annually</p>
            </li>
          </ul>
          <span class="js-show-head-menu"
            ><img
              src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-menu.png"
          /></span>
          <h1>
            <img
              src="https://s3cdn.okchem.com/logo-m.png"
              alt="okchem mobile site"
            />
          </h1>
        </div>
        <div class="home-head-search js-show-search">
          <input
            type="text"
            value=""
            placeholder="Phosphoric Acid 85%"
            readonly
          />
          <button type="button"></button>
        </div>
        <div class="head-search-cover">
          <div class="head-search-block">
            <form
              id="searchForm"
              action="/product/search"
              onsubmit="checkKeyword(this)"
            >
              <div class="head-input">
                <div class="head-input-category js-head-category">
                  <img
                    src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-head-down.png"
                    alt=""
                  />
                  <ul>
                    <li class="active" data-type="product">
                      <img
                        class="left-img"
                        src="//wcdn.okchem.com/resources/mobile/okchem/images/bg-product-s.png"
                      />
                      <span>Products</span>
                      <img
                        class="icon-gg"
                        src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-gg.png"
                        alt=""
                      />
                    </li>

                    <li data-type="supplier">
                      <img
                        class="left-img"
                        src="//wcdn.okchem.com/resources/mobile/okchem/images/bg-supplier-s.png"
                      />
                      <span>Suppliers</span>
                      <img
                        class="icon-gg"
                        src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-gg.png"
                        alt=""
                      />
                    </li>

                    <!-- mobile全局搜索去掉news -->
                  </ul>
                </div>
                <div class="head-input-keyword">
                  <input
                    class="js-ok-think"
                    type="text"
                    id="keyword"
                    required
                    minlength="2"
                    maxlength="100"
                    name="keyword"
                    value=""
                    autocomplete="off"
                    placeholder="Any keyword of Product/Supplier"
                  />
                </div>
                <button type="submit"></button>
              </div>
            </form>
            <ul class="head-think">
              <li><a href="#"> Phosphoric Acid 85 </a></li>
              <li><a href="#"> Vital Wheat Gluten </a></li>
              <li><a href="#"> Sucralose </a></li>
              <li><a href="#"> Potassium Sorbate </a></li>
              <li><a href="#"> Xanthan Gum </a></li>
            </ul>
          </div>
        </div>
        <div class="home-menu-cover js-head-menu">
          <div class="home-menu">
            <div>
              <div class="home-menu-top">
                <div class="home-unsign">
                  <a href="/login?redirectUrl=/">Sign In</a>
                  <span>|</span>
                  <a href="/register">Join Free</a>
                </div>
              </div>
              <ul>
                <!--  是否激活邮件  true 已启用   false 未启用 -->
                <li>
                  <a href="//m.okchem.com"
                    ><img
                      src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu1.png"
                      alt=""
                    />Home</a
                  >
                </li>
                <li>
                  <a href="//m.okchem.com/member/inquiry/list"
                    ><img
                      src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu2.png"
                      alt=""
                    />My Inquiries</a
                  >
                </li>
                <li>
                  <a href="//m.okchem.com/quotation-request/request"
                    ><img
                      src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu3.png"
                      alt=""
                    />Post Buying Request</a
                  >
                </li>
                <li>
                  <a href="//m.okchem.com/member/product_favorite/list"
                    ><img
                      src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu4.png"
                      alt=""
                    />My Wishlist</a
                  >
                </li>
                <li>
                  <a href="//m.okchem.com/companyinfo/buyersguide"
                    ><img
                      src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu6.png"
                      alt=""
                    />Buyer User Guide</a
                  >
                </li>
                <li>
                  <a href="https://overseas-offices.m.en.okchem.com"
                    ><img
                      src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu9.png"
                      alt=""
                    />Overseas Offices</a
                  >
                </li>
                <li>
                  <a href="//m.okchem.com/companyinfo/aboutus"
                    ><img
                      src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu8.png"
                      alt=""
                    />About OKCHEM</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img
                      src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu7.png"
                      alt=""
                    />Language
                    <select name="language" class="js-language language">
                      <option
                        data-lang="en"
                        selected
                        href="//m.okchem.com/"
                        value="en"
                        >English</option
                      >
                      <option
                        data-lang="es"
                        href="//m.es.okchem.com/"
                        value="es"
                        >Español</option
                      >
                      <option
                        data-lang="pt"
                        href="//m.pt.okchem.com/"
                        value="pt"
                        >Português</option
                      >
                      <option
                        data-lang="ru"
                        href="//m.ru.okchem.com/"
                        value="ru"
                        >Русский язык</option
                      >
                    </select>
                  </a>
                </li>
              </ul>

              <div class="home-menu-footer">
                <div class="clearfix">
                  <a href="//m.okchem.com/companyinfo/contactus">Contact Us</a>
                  <a href="https://www.okchem.cn">中国站</a>
                </div>
                <p>© 2016-2019 okchem.com. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>

        <input id="userType" type="hidden" value="" />
      </div>

      <div class="home-banner swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="https://zhongyufood.en.okchem.com/"
              ><img
                src="https://s3cdn.okchem.com/750x300/image/201903/64b8591a-fb1d-4e6f-9444-ebf1db66bbba.jpg"
                title="binzhou zhongyu"
                alt=""
            /></a>
          </div>
          <div class="swiper-slide">
            <a href="https://hubeixuefei.en.okchem.com/"
              ><img
                src="https://s3cdn.okchem.com/750x300/image/201903/b9ccb546-1e6d-44c5-a356-627d2718e908.jpg"
                title="hubeixuefei"
                alt=""
            /></a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.okchem.com/exhibition/detail/dhRsmjGRM/CPhI-South-East-Asia-2019.html"
              ><img
                src="https://s3cdn.okchem.com/750x300/image/201902/a93be713-b655-4b76-816d-60945af4b8d6.png"
                title="cphi south east asia"
                alt=""
            /></a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.okchem.com/exhibition/detail/4KOEPwhTg/Food-Ingredients-China-2019.html"
              ><img
                src="https://s3cdn.okchem.com/750x300/image/201903/84c5f589-8a1b-440a-8449-f14a8497f0c9.png"
                title="FIC 2019"
                alt=""
            /></a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://www.okchem.com/exhibition/detail/IKPT8JicR/ChemSpec-India.html"
              ><img
                src="https://s3cdn.okchem.com/750x300/image/201903/265c3601-0a66-4375-a527-7fd9f9786df3.jpg"
                title="chemspec"
                alt=""
            /></a>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-banner"></div>
      </div>
      <div class="home-nav swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="https://www.okchem.com/applicationinfo">
              <img
                src="//wcdn.okchem.com/resources/mobile/okchem/images/home-nav1.png"
              />
              <p>All Categories</p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://www.okchem.com/quotation-request/request">
              <img
                src="//wcdn.okchem.com/resources/mobile/okchem/images/home-newNav1.png"
              />
              <p>Post Buying Request</p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://www.okchem.com/services/tradeServices">
              <img
                src="//wcdn.okchem.com/resources/mobile/okchem/images/home-newNav2.png"
              />
              <p>Trade Services</p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://www.okchem.com/services/getMyBuyers">
              <img
                src="//wcdn.okchem.com/resources/mobile/okchem/images/home-newNav3.png"
              />
              <p>Increase Sales</p>
            </a>
          </div>
        </div>
      </div>
      <div class="home-block mt-20">
        <div class="home-block-title">
          <a href="https://www.okchem.com/shopSupplier/storeAggregation"
            >More&gt;&gt;</a
          >
          <div>
            <span
              ><a href="https://www.okchem.com/shopSupplier/storeAggregation"
                >Premium Suppliers</a
              ></span
            >
          </div>
        </div>
        <ul class="home-supplier-list clearfix">
          <li>
            <a href="//zhongyufood.en.okchem.com">
              <img
                class="lazy-load"
                data-original="https://s3cdn.okchem.com/220x170/image/201902/b0143bc7-376a-4e27-b186-66ee7d51d715.jpg"
              />
              <h4>Binzhou Zhongyu Food Co., Ltd.</h4>
              <div class="supplier-country">China</div>
            </a>
          </li>
          <li>
            <a href="//jinanyuxing.en.okchem.com">
              <img
                class="lazy-load"
                data-original="https://s3cdn.okchem.com/220x170/image/201901/8dd13a1b-108c-40ac-887a-f4db1326d884.png"
              />
              <h4>Jinan Yuxing Chemical Co, Ltd</h4>
              <div class="supplier-country">China</div>
            </a>
          </li>
          <li>
            <a href="//jiangxisunway.en.okchem.com">
              <img
                class="lazy-load"
                data-original="https://s3cdn.okchem.com/220x170/image/201901/73c9b547-6f5e-4aaa-9f3a-1125ad2b74a2.png"
              />
              <h4>Jiangxi SunWay Chemical Co., Ltd</h4>
              <div class="supplier-country">China</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <script src="//wcdn.okchem.com/resources/common/js/jquery.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/bootstrap.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/bootstrap-growl.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/jquery.validate.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/jquery.form.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/jquery.scrolltofixed.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/jquery.cookie.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/scrollload.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/underscore.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/url.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/jquery.lazyload.min.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/base.js?2.16.11&lang=en"></script>
  <script src="//wcdn.okchem.com/resources/mobile/okchem/js/wap.js?2.16.11"></script>

  <!--noactiveModal  start  -->
  <div id="noactiveModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">
            &times;
          </button>
          <h5 class="modal-title">Tips</h5>
        </div>
        <div class="modal-body form-horizontal">
          <input type="hidden" value="" id="sendEmail" />
          <p>
            Your account has not been activated on okchem.com, please
            <a href="javascript:void(0);" class="c-blue active-user"
              >verify your email</a
            >
            in order to show your authenticity and maximize your business
            opportunity.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--noactiveModal  end  -->
  <script src="//wcdn.okchem.com/resources/common/js/swiper-3.4.2.jquery.min.js"></script>

  <script id="scrollLoadTemplate" type="text/template">
    <%_.each(data, function(product, i) {%>
           <li>
               <a href="https://www.okchem.com/product/<%- product.code %>.html">
                   <div class="home-mall-img">
                       <img class="lazy-load" data-original="<%- product.imageUrl %>" alt="">
                   </div>
                   <h3><%- product.productName %></h3>
                   <% if ( product.fobPrice ) { %>
                   	<p class="price-show"><span><%- product.currency %><%- product.fobPrice %>
    				<% if(product.maxPrice){ %>
    					- <span><%-product.currency %></span><%-product.maxPrice.toFixed(2) %>
    				<% } %></span>/<%- product.priceUnit %></p>
                   <% } else { %>
                   <object><a href="https://www.okchem.com/inquiry/add?productCode=<%- product.code %>" class="whether-to-jump-scroll"><p class="get-latest-price">Get Latest Price</p></a></object>
                   <%}%>
                   <div class="brand">
                       <span><i class="c-7a7a7a">Brand : </i> <%- product.brandName %></span>
                   </div>
               </a>
           </li>
    <%});%>
  </script>
  <script>
      $(function(){
      	<!-- 是否激活邮件  true 已启用   false 未启用     是否是买家-->
          /* 轮播图 */
          var homebanner = new Swiper('.home-banner',{
              pagination:'.swiper-pagination-banner',
              autoplay:2000,
              speed:1000,
              paginationClickable:true,
              autoplayDisableOnInteraction:false
          })

          /* navigation */
          var homenav = new Swiper('.home-nav',{
              pagination:'.swiper-pagination-nav',
              speed:1000,
              paginationClickable:true,
              autoplayDisableOnInteraction:false,
              slidesPerView:4,
              slidesPerGroup:4
          })

          /* 头部菜单显示隐藏 */
          $('.js-show-head-menu').on('click',function(){
              $('.js-head-menu').show();
              $('body').css({'overflow':'hidden','height':'100%'});
              $('html').css({'overflow':'hidden','height':'100%'});
              $('.js-head-menu .home-menu').animate({'left':0},400)
          })

          $('.js-head-menu .home-menu').on('click',function(e){
              e.stopPropagation()
          })

          $('.js-head-menu').on('click',function(){
              $(this).find('.home-menu').css('left','-5.4rem');
              $(this).css('display','none');
              $('body').css('overflow','auto');
              $('html').css('overflow','auto');
          })

          /* 屏幕滚动-头部效果 */
          $(document).scroll(function(){
              var _h = $(this).scrollTop();
              var logo_h = $('.home-head-logo').height()
              if (_h>=0 && _h<logo_h-10) {
                  $('.home-head').css('top', '-'+_h+'px')
                  $('.home-head-search').css('margin-left', _h*0.9 + 'px')
              } else {
                  $('.home-head').css('top', '-' + (logo_h-10) + 'px')
                  $('.home-head-search').css('margin-left', (logo_h-10)*0.9 + 'px')
              }
              $('.js-show-head-menu').css({'position':'fixed', 'left':'.2rem', 'top':'0'})
          })

          var $scrollLoad = $("#scrollLoad");

          // 滚动加载
          $scrollLoad.scrollLoad({
              url: "https://www.okchem.com/forIndex/referredProducts?pageNumber=<%-pageNumber%>"
          });

    // reload event
    $scrollLoad.on("loaded.shopxx.scrollLoad", function(){

    	// tip modal
    	$(".whether-to-jump-scroll").on("click", function(){
    		if($("#userType").val() == "BUSINESS" || $("#userType").val() == "ADMIN"){
    			$.bootstrapGrowl("Sorry, this service is only available for buyers.",{type: "warning"});
    			return false;
    		}else{
    			return true;
    		}
    	});
              // end

          });
          // reload event

          /* 头部数字动画效果 */
          setInterval(function(){
              if ($('.js-home-count li.active').next().length) {
                  $('.js-home-count li.active').removeClass('active').next().addClass('active')
              } else {
                  $('.js-home-count li.active').removeClass('active')
                  $('.js-home-count li:eq(0)').addClass('active')
              }
          },6000)

          // 重新发激活邮件
          $('.active-user').on('click',function(){
              var email = $('#sendEmail').val();
              if(email) {
    		$.ajax({
    			url: "https://www.okchem.com/member/active_member?email=" + email,
    			type: "GET",
    			success: function(data) {
    				var msgCode = data.message_code;
    				if(msgCode) {
    					if(msgCode === 'member.login.active.already') {
    						location.href = '/member/index';
    					} else if(msgCode === 'member.login.active.register') {
    						location.href = '/register';
    					} else if(msgCode === 'member.login.active.enabled') {
    						location.href = '/login';
    					} else if(msgCode === 'member.login.active.fail.interval') {
    						$.bootstrapGrowl("You can activate this email again 60 minutes later.", {
    							type: "warning"
    						});
    					} else {
    						location.href = '/member/active_member/success?email=' + email;
    					}
    				} else {
    					location.href = '/member/active_member/success?email=' + email;
    				}
    			}
    		});
              }
          })

      })
  </script>
</html>
