<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OKCHEM - Global B2B Platform for Chemical Raw Materials</title>
    <meta name="description" content="OKCHEM provides huge selection of quality chemical products and manufacturers from China, as well as Global Sourcing, Factory Audit, Production Inspection, Monitor Deliveries, China Travel Assistance, Industry News on okchem.com.">
    <meta name="keywords" content="Chemicals, Chemical Products, Chemical Suppliers, Chemical Manufacturers, Global Sourcing, Factory Audit, Production Inspection, Monitor Deliveries, China Travel Assistance, Industry News">
<link rel="shortcut icon" href="https://s3cdn.okchem.com/common/icons/favicon.ico" type="image/x-icon" />
<link rel="icon" href="https://s3cdn.okchem.com/common/icons/favicon.ico" type="image/x-icon" />
		<link rel="alternate" hreflang="en" href="//m.okchem.com/" />
		<link rel="alternate" hreflang="es" href="//m.es.okchem.com/" />
		<link rel="alternate" hreflang="pt" href="//m.pt.okchem.com/" />
		<link rel="alternate" hreflang="ru" href="//m.ru.okchem.com/" />
	<link rel="canonical" href="https://m.okchem.com/" />

<script>
document.documentElement.style.fontSize = innerWidth / 7.5 + 'px';
window.onresize = function() {
    document.documentElement.style.fontSize = innerWidth / 7.5 + 'px';
}
</script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-80975232-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80975232-1');
  
  function sendEvent(operator,category){
     gtag('event', operator, {
       'event_category' : category
     });
  }
</script>


</head>
<body>
	<div class="home-box">
<div class="home-head">
	<div class="home-head-logo">
        <ul class="home-count js-home-count">
            <li class="active">
                <div>1,000,000+</div>
                <p>Chemical Products</p>
            </li>
            <li>
                <div>30,000+</div>
                <p>Global Chemical Suppliers</p>
            </li>
            <li>
                <div>1,000,000+</div>
                <p>Global Chemical Buyers</p>
            </li>
            <li>
                <div>14</div>
                <p>Overseas Offices</p>
            </li>
            <li>
                <div>100+</div>
                <p>Global Shows Annually</p>
            </li>
        </ul>
		<span class="js-show-head-menu"><img src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-menu.png"></span>
		<h1>
			<img src="https://s3cdn.okchem.com/logo-m.png" alt="okchem mobile site">
		</h1>
	</div>
	<div class="home-head-search js-show-search">
		<input type="text" value="" placeholder="Phosphoric Acid 85%" readonly>
		<button type="button"></button>
	</div>
<div class="head-search-cover">
	<div class="head-search-block">
		<form id="searchForm" action="/product/search" onsubmit="checkKeyword(this)">
			<div class="head-input">
				<div class="head-input-category js-head-category">
					<img src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-head-down.png" alt="">
					<ul>
						<li class="active" data-type="product"><img class="left-img" src="//wcdn.okchem.com/resources/mobile/okchem/images/bg-product-s.png"> <span>Products</span> <img class="icon-gg"
							src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-gg.png" alt=""></li>
						<li data-type="supplier"><img class="left-img" src="//wcdn.okchem.com/resources/mobile/okchem/images/bg-supplier-s.png"> <span>Suppliers</span> <img class="icon-gg"
							src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-gg.png" alt=""></li>
						<!-- mobile全局搜索去掉news -->
					</ul>
				</div>
				<div class="head-input-keyword">
					<input class="js-ok-think" type="text" id="keyword" required minlength="2" maxlength=100 name="keyword" value="" autocomplete="off" placeholder="Any keyword of Product/Supplier">
				</div>
				<button type="submit"></button>
			</div>
		</form>
		<ul class="head-think">
					<li><a href="#"> Phosphoric Acid 85 </a></li>
					<li><a href="#"> Vital Wheat Gluten </a></li>
					<li><a href="#"> Sucralose </a></li>
					<li><a href="#"> Potassium Sorbate </a></li>
					<li><a href="#"> Xanthan Gum </a></li>
		</ul>
	</div>
</div><div class="home-menu-cover js-head-menu">
    <div class="home-menu">
    
    <div>
        <div class="home-menu-top">
                            <div class="home-unsign">
                    <a href="/login?redirectUrl=/">Sign In</a>
                    <span>|</span>
                    <a href="/register">Join Free</a>
                </div>
        </div>
        <ul>	
	        <!--  是否激活邮件  true 已启用   false 未启用 -->
	            <li>
	                <a href="//m.okchem.com"><img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu1.png" alt="">Home</a>
	            </li>        		
	            <li>
	                <a href="//m.okchem.com/member/inquiry/list"><img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu2.png" alt="">My Inquiries</a>
	            </li>
	            <li>
	                <a href="//m.okchem.com/quotation-request/request"><img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu3.png" alt="">Post Buying Request</a>
	            </li>
	            <li>
	                <a href="//m.okchem.com/member/product_favorite/list"><img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu4.png" alt="">My Wishlist</a>
	            </li>
	            <li>
	                <a href="//m.okchem.com/companyinfo/buyersguide"><img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu6.png" alt="">Buyer User Guide</a>
	            </li>                        
            <li>
                <a href="https://overseas-offices.m.en.okchem.com"><img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu9.png" alt="">Overseas Offices</a>
            </li>
            <li>
                <a href="//m.okchem.com/companyinfo/aboutus"><img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu8.png" alt="">About OKCHEM</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-menu7.png" alt="">Language
                    <select name="language" class="js-language language">
                            <option data-lang="en" selected href="//m.okchem.com/" value="en">English</option>
                            <option data-lang="es" href="//m.es.okchem.com/" value="es">Español</option>
                            <option data-lang="pt" href="//m.pt.okchem.com/" value="pt">Português</option>
                            <option data-lang="ru" href="//m.ru.okchem.com/" value="ru">Русский язык</option>
                    </select>
                </a>
            </li>
        </ul>
        
         <div class="home-menu-footer">
            <div class="clearfix">
               <a href="//m.okchem.com/companyinfo/contactus">Contact Us</a>
                <a href="https://www.okchem.cn">中国站</a>
            </div>
            <p>© 2016-2019 okchem.com. All Rights Reserved.</p>
        </div>
    </div>           

    </div>
</div>

<input id="userType" type=hidden value=""></div>        <div class="home-banner swiper-container">
            <div class="swiper-wrapper">
				                                          <div class="swiper-slide">
                                                   <a href="https://zhongyufood.en.okchem.com/"><img src="https://s3cdn.okchem.com/750x300/image/201903/64b8591a-fb1d-4e6f-9444-ebf1db66bbba.jpg"  title="binzhou zhongyu" alt="" ></a>
                                     </div>
                                     <div class="swiper-slide">
                                                 <a href="https://hubeixuefei.en.okchem.com/"><img src="https://s3cdn.okchem.com/750x300/image/201903/b9ccb546-1e6d-44c5-a356-627d2718e908.jpg"  title="hubeixuefei" alt="" ></a>
                                     </div>
                                     <div class="swiper-slide">
                                                 <a href="https://www.okchem.com/exhibition/detail/IKPT8JicR/ChemSpec-India.html"><img src="https://s3cdn.okchem.com/750x300/image/201903/265c3601-0a66-4375-a527-7fd9f9786df3.jpg"  title="chemspec" alt="" ></a>
                                     </div>

            </div>
            <div class="swiper-pagination swiper-pagination-banner"></div>
        </div>
        <div class="home-nav swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="https://www.okchem.com/applicationinfo">
                        <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-nav1.png">
                        <p>All Categories</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="https://www.okchem.com/quotation-request/request" >
                        <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-newNav1.png">
                        <p>Post Buying Request</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="https://www.okchem.com/services/tradeServices">
                        <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-newNav2.png">
                        <p>Trade Services</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="https://www.okchem.com/services/getMyBuyers">
                        <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-newNav3.png">
                        <p>Increase Sales</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="home-block mt-20">
            <div class="home-block-title">
            	<a href="https://www.okchem.com/shopSupplier/storeAggregation">More&gt;&gt;</a>
                <div><span><a href="https://www.okchem.com/shopSupplier/storeAggregation">Premium Suppliers</a></span></div>
            </div>
            <ul class="home-supplier-list clearfix">
                <li>
                    <a href="//zhongyufood.en.okchem.com">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201902/b0143bc7-376a-4e27-b186-66ee7d51d715.jpg">
                        <h4>Binzhou Zhongyu Food Co., Ltd.</h4>
                        <div class="supplier-country">China</div>
                    </a>
                </li>
                <li>
                    <a href="//jinanyuxing.en.okchem.com">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201901/8dd13a1b-108c-40ac-887a-f4db1326d884.png">
                        <h4>Jinan Yuxing Chemical Co, Ltd</h4>
                        <div class="supplier-country">China</div>
                    </a>
                </li>
                <li>
                    <a href="//jiangxisunway.en.okchem.com">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201901/73c9b547-6f5e-4aaa-9f3a-1125ad2b74a2.png">
                        <h4>Jiangxi SunWay Chemical Co., Ltd</h4>
                        <div class="supplier-country">China</div>
                    </a>
                </li>
                <li>
                    <a href="//www.okchem.com/supplier/XuZhou-ChangQing-Biological-Technology-CoLTD">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201808/364c2d9b-ce9c-4b25-b5e5-573747527e29.png">
                        <h4>XuZhou ChangQing Biotechnology Co.,Ltd</h4>
                        <div class="supplier-country">China</div>
                    </a>
                </li>
                <li>
                    <a href="//www.okchem.com/supplier/Ju-Yuan-Tang-Natural-Perfume-CoLtd">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201808/97201453-bec8-481c-8233-63cc00ea1a91.png">
                        <h4>Ju Yuan Tang Natural Perfume Co.,Ltd</h4>
                        <div class="supplier-country">China</div>
                    </a>
                </li>
                <li>
                    <a href="//dmpharma.en.okchem.com">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201812/1d570e07-dfa0-440d-949c-811420b95cf4.png">
                        <h4>DM Pharma</h4>
                        <div class="supplier-country">India</div>
                    </a>
                </li>
                <li>
                    <a href="//www.okchem.com/supplier/ockhem-100030002">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201812/a2ac4ab4-f2f4-4eac-a8ac-47914a1e4b5b.jpg">
                        <h4>SHIH</h4>
                        <div class="supplier-country">Russian Federation</div>
                    </a>
                </li>
                <li>
                    <a href="//www.okchem.com/supplier/Taizhou-Ruibai-Chemical-CoLtd">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201809/0c1e5dda-ba2a-4d94-b4c5-6faf5a24875f.png">
                        <h4>TAIZHOU RUIBAI CHEMICAL CO., LTD.</h4>
                        <div class="supplier-country">China</div>
                    </a>
                </li>
                <li>
                    <a href="//www.okchem.com/supplier/GOLDEN-DRAGON-DMCC">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201809/690f006e-c132-4eac-ae96-ce45d4948aa1.jpg">
                        <h4>GOLDEN DRAGON DMCC</h4>
                        <div class="supplier-country">United Arab Emirates</div>
                    </a>
                </li>
                <li>
                    <a href="//fengye.en.okchem.com">
                    	<img  class="lazy-load" data-original="https://s3cdn.okchem.com/220x170/image/201811/93ff6e67-9117-42ae-9d51-c167cb4c718b.jpg">
                        <h4>Guangdong Chaozhou Fengye Industrial Co.,Ltd</h4>
                        <div class="supplier-country">China</div>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="home-become-supplier">
        	<a href="https://www.okchem.com/quotation-request/list">
	            <div>Already a registered supplier?</div>
	            <p>We have numerous quality &amp; real buying requests for you to quote!</p>
	            <span>Quote Now &gt;&gt;</span>
            </a>
        </div>
        
        <div class="home-block mt-20">
            <div class="home-block-title">
                <div><a href="javascript:void(0);">Select Products</a></span></div>
            </div>
            <div class="home-select-p clearfix pt-30">
                <div class="left">
                    <a class="part mb-20" href="https://www.okchem.com/application/food-feed-additives">
                        <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-select-p1.jpg" alt="">
                        <p>Food &amp; Feed Additives</p>
                    </a>
                    <a class="part" href="https://www.okchem.com/application/paint-and-coatings">
                        <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-select-p2.jpg" alt="">
                        <p>Paint and Coatings</p>
                    </a>
                </div>
                <div class="right">
                    <a href="https://www.okchem.com/application/pharmaceuticals-and-biochemicals" class="part">
                        <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-select-p3.jpg" alt="">
                        <p>Pharmaceuticals &amp; Biochemicals</p>
                    </a>
                </div>
            </div>
            <div class="home-type-p mt-20 mb-20 clearfix">
                <a href="https://www.okchem.com/product/search?orderProperties=hits&order=DESC" class="mr-20">
                    <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-type-p1.png" alt="">
                    <p>Popular Products</p>
                </a>
                <a href="https://www.okchem.com/product/search?orderProperties=updateTime&order=DESC">
                    <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-type-p2.png" alt="">
                    <p>New Products</p>
                </a>
            </div>
            <div class="home-gb mb-30 mr-20">
              <a class="c-fff" href="https://www.okchem.com/group-buying">
                <img src="//wcdn.okchem.com/resources/mobile/okchem/images/home-bg.jpg" alt="">
                <h3>Group Buying</h3>
                <p>Get Stronger Buying Power</p>
              </a>
            </div>
        </div>
        <div class="home-block mt-20">
            <div class="home-block-title">
                <a href="https://www.okchem.com/exhibition/list">More>></a>
                <div><span>Trade Shows</span></div>
            </div>
            <ul class="home-chemexpo-list">
                <li>
                    <a href="https://www.okchem.com/exhibition/detail/r4cMfkcPm/PLASTIMAGEN%C2%AE-MEXICO-2019.html">
                        <img  class="lazy-load" data-original="https://s3cdn.okchem.com/200x170/image/201812/991e6828-e432-4442-98af-18e5827e16af.jpg">
                        <h3>PLASTIMAGEN® MEXICO 2019</h3>
                        <div>
                          <i class="self-sup">UPCOMING</i>
                        </div>
                        <p>Mexico City,Mexico</p>
                        <p>
                        	2019.04.02-2019.04.05
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.okchem.com/exhibition/detail/IKPT8JicR/ChemSpec-India.html">
                        <img  class="lazy-load" data-original="https://s3cdn.okchem.com/200x170/image/201812/6c564ffe-6a8f-4817-bac1-8665ecc6fd45.jpg">
                        <h3>ChemSpec India</h3>
                        <div>
                          <i class="self-sup">UPCOMING</i>
                        </div>
                        <p>Mumbai,India</p>
                        <p>
                        	2019.04.16-2019.04.17
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.okchem.com/exhibition/detail/arEOotj2f/Tires-%26-Rubber-Exhibition-2019.html">
                        <img  class="lazy-load" data-original="https://s3cdn.okchem.com/200x170/image/201812/6392c300-c920-43e5-86f7-97c55b486daa.jpg">
                        <h3>Tires &amp; Rubber Exhibition 2019</h3>
                        <div>
                          <i class="self-sup">UPCOMING</i>
                        </div>
                        <p>Moscow,Russian Federation</p>
                        <p>
                        	2019.04.23-2019.04.26
                        </p>
                    </a>
                </li>
                <p>
                    <a href="https://www.okchem.com/news">
                        <span>Hot News</span>
                        <span>Chinese parts molder, BASF developed PU-based paper honeycomb car trunk floor</span>
                    </a>
                </p>
            </ul>
        </div>
        <div class="home-block mt-20">
            <div class="home-block-title">
                <div><a href="javascript:void(0);"><span>You May Like</span></a>
                </div>
            </div>
            <div id="scrollLoad">
                <ul id="scrollLoadContent" class="home-mall-list" data-page="1">

                
	
        <li>
            <a href="https://www.okchem.com/product/melamine-201903081263533.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://s3cdn.okchem.com/image/201903/c461631e-efbd-4d62-9b5b-d1a8edfe4730_medium.jpg" alt="" src="https://s3cdn.okchem.com/image/201903/c461631e-efbd-4d62-9b5b-d1a8edfe4730_medium.jpg" style="display: inline;">
                </div>
                <h3>Melamine</h3>
                
                	<p class="price-show"><span>$1100
					
						- <span>$</span>1150.00
					</span>/MT</p>
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> Zhongwei</span>
                </div>
            </a>
        </li>
	
        <li>
            <a href="https://www.okchem.com/product/benzyl-alcohol-01.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://www.okchem.com/ocf/pubs/image/c8a78a22-d28c-4396-83cc-bad3cb4c9a07_big.jpg" alt="" src="https://www.okchem.com/ocf/pubs/image/c8a78a22-d28c-4396-83cc-bad3cb4c9a07_big.jpg" style="display: inline;">
                </div>
                <h3>Benzyl Alcohol</h3>
                
                	<p class="price-show"><span>$1530
					</span>/MT</p>
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> GREENHOME</span>
                </div>
            </a>
        </li>
	
        <li>
            <a href="https://www.okchem.com/product/1-4-butanediol-diglycidyl-ether.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://www.okchem.com/ocf/pubs/image/946b019d-ef41-44ff-800c-e06b33810ee6_big.jpg" alt="" src="https://www.okchem.com/ocf/pubs/image/946b019d-ef41-44ff-800c-e06b33810ee6_big.jpg" style="display: inline;">
                </div>
                <h3>1,4-Butanediol Diglycidyl Ether</h3>
                
                	<p class="price-show"><span>$3090
					</span>/MT</p>
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> LS-622</span>
                </div>
            </a>
        </li>
	
        <li>
            <a href="https://www.okchem.com/product/alkyl-glycidyl-ether-01.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://s3cdn.okchem.com/image/201901/15b2ec78-0916-4f81-a461-72cd562d3b94_medium.jpg" alt="" src="https://s3cdn.okchem.com/image/201901/15b2ec78-0916-4f81-a461-72cd562d3b94_medium.jpg" style="display: inline;">
                </div>
                <h3>Alkyl (C12-C14) Glycidyl Ether</h3>
                
                	<p class="price-show"><span>$2375
					
						- <span>$</span>2405.00
					</span>/MT</p>
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> LS-AGE</span>
                </div>
            </a>
        </li>
	
        <li>
            <a href="https://www.okchem.com/product/aluminum-paste-coated-with-resin-201811201258377.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://s3cdn.okchem.com/image/201811/d1139fc9-e17e-4132-8a44-c431401c519c_medium.jpg" alt="" src="https://s3cdn.okchem.com/image/201811/d1139fc9-e17e-4132-8a44-c431401c519c_medium.jpg" style="display: inline;">
                </div>
                <h3>Aluminum Paste Coated with Resin</h3>
                               
                <object><a href="https://www.okchem.com/inquiry/add?productCode=aluminum-paste-coated-with-resin-201811201258377" class="whether-to-jump-scroll"><p class="get-latest-price">Get Latest Price</p></a></object>               
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> Yinjian</span>
                </div>
            </a>
        </li>
	
        <li>
            <a href="https://www.okchem.com/product/chloroacetic-acid-or-monochloroacetic-acid-201902191262239.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://s3cdn.okchem.com/image/201902/b904277e-1924-4352-9d29-bb17471cc31c_medium.jpg" alt="" src="https://s3cdn.okchem.com/image/201902/b904277e-1924-4352-9d29-bb17471cc31c_medium.jpg" style="display: inline;">
                </div>
                <h3>Chloroacetic Acid or Monochloroacetic Acid</h3>
                               
                <object><a href="https://www.okchem.com/inquiry/add?productCode=chloroacetic-acid-or-monochloroacetic-acid-201902191262239" class="whether-to-jump-scroll"><p class="get-latest-price">Get Latest Price</p></a></object>               
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> XINZE</span>
                </div>
            </a>
        </li>
	
        <li>
            <a href="https://www.okchem.com/product/aluminium-paste-pigment-with-resin-coated-201901281261897.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://s3cdn.okchem.com/image/201901/8fb447c7-552c-4f0c-97a6-934913770e4a_medium.jpg" alt="" src="https://s3cdn.okchem.com/image/201901/8fb447c7-552c-4f0c-97a6-934913770e4a_medium.jpg" style="display: inline;">
                </div>
                <h3>aluminium paste pigment with resin coated</h3>
                
                	<p class="price-show"><span>$19.85
					</span>/KG</p>
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> </span>
                </div>
            </a>
        </li>
	
        <li>
            <a href="https://www.okchem.com/product/neopentane-glycol-diglycidyl-ether.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://www.okchem.com/ocf/pubs/image/1c80643e-f839-46b8-a08a-d93e2eb7765f_big.jpg" alt="" src="https://www.okchem.com/ocf/pubs/image/1c80643e-f839-46b8-a08a-d93e2eb7765f_big.jpg" style="display: inline;">
                </div>
                <h3>Neopentane Glycol Diglycidyl Ether</h3>
                
                	<p class="price-show"><span>$3940
					</span>/MT</p>
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> Hubei Greenhome</span>
                </div>
            </a>
        </li>
	
        <li>
            <a href="https://www.okchem.com/product/high-quality-leafing-silver-aluminium-paste-for-headlamp-reflector-201902191262250.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://s3cdn.okchem.com/image/201902/e092b83b-dc8f-49bb-8c72-e3a2f2594858_medium.jpg" alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                </div>
                <h3>High Quality Leafing Silver Aluminium Paste for Headlamp Reflector</h3>
                
                	<p class="price-show"><span>$12
					</span>/KG</p>
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> Silver Rocket</span>
                </div>
            </a>
        </li>
	
        <li>
            <a href="https://www.okchem.com/product/environment-friendly-water-base-aluminium-paste-for-decorative-201902191262249.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="https://s3cdn.okchem.com/image/201902/31cedcec-2588-407d-9a6d-565917700b11_medium.jpg" alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                </div>
                <h3>Environment friendly water base aluminium paste for decorative</h3>
                
                	<p class="price-show"><span>$21.31
					</span>/KG</p>
                
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> Silver Rocket</span>
                </div>
            </a>
        </li>
	
</ul>            
            <div class="scrollload-bottom"><div class="scrollload-loader"><span></span><span></span><span></span><span></span><span></span></div></div></div>
        </div>
    </div>
</body>
<script src="//wcdn.okchem.com/resources/common/js/jquery.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/bootstrap.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/bootstrap-growl.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/jquery.validate.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/jquery.form.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/jquery.scrolltofixed.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/jquery.cookie.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/scrollload.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/underscore.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/url.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/jquery.lazyload.min.js"></script>
<script src="//wcdn.okchem.com/resources/common/js/base.js?2.17.5&lang=en"></script>
<script src="//wcdn.okchem.com/resources/mobile/okchem/js/wap.js?2.17.5"></script>

 <!--noactiveModal  start  -->
    <div id="noactiveModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">&times;</button>
					<h5 class="modal-title">Tips</h5>
				</div>
				<div class="modal-body form-horizontal">
					<input type="hidden" value="" id="sendEmail">
					<p>Your account  has not been activated on okchem.com, please  <a href="javascript:void(0);" class="c-blue active-user">verify your email</a> in order to show your authenticity and maximize your business opportunity.</p>
				</div>
			</div>
		</div>
	</div>
	<!--noactiveModal  end  -->
<script src="//wcdn.okchem.com/resources/common/js/swiper-3.4.2.jquery.min.js"></script>

<script id="scrollLoadTemplate" type="text/template">
	<%_.each(data, function(product, i) {%>
        <li>
            <a href="https://www.okchem.com/product/<%- product.code %>.html">
                <div class="home-mall-img">
                    <img class="lazy-load" data-original="<%- product.imageUrl %>" alt="">
                </div>
                <h3><%- product.productName %></h3>
                <% if ( product.fobPrice ) { %>
                	<p class="price-show"><span><%- product.currency %><%- product.fobPrice %>
					<% if(product.maxPrice){ %>
						- <span><%-product.currency %></span><%-product.maxPrice.toFixed(2) %>
					<% } %></span>/<%- product.priceUnit %></p>
                <% } else { %>               
                <object><a href="https://www.okchem.com/inquiry/add?productCode=<%- product.code %>" class="whether-to-jump-scroll"><p class="get-latest-price">Get Latest Price</p></a></object>               
                <%}%>
                <div class="brand">
                    <span><i class="c-7a7a7a">Brand : </i> <%- product.brandName %></span>
                </div>
            </a>
        </li>
	<%});%>
</script>
<script>
    $(function(){
    	<!-- 是否激活邮件  true 已启用   false 未启用     是否是买家-->
        /* 轮播图 */
        var homebanner = new Swiper('.home-banner',{
            pagination:'.swiper-pagination-banner',
            autoplay:2000,
            speed:1000,
            paginationClickable:true,
            autoplayDisableOnInteraction:false
        })

        /* navigation */
        var homenav = new Swiper('.home-nav',{
            pagination:'.swiper-pagination-nav',
            speed:1000,
            paginationClickable:true,
            autoplayDisableOnInteraction:false,
            slidesPerView:4,
            slidesPerGroup:4
        })

        /* 头部菜单显示隐藏 */
        $('.js-show-head-menu').on('click',function(){
            $('.js-head-menu').show();
            $('body').css({'overflow':'hidden','height':'100%'});
            $('html').css({'overflow':'hidden','height':'100%'});
            $('.js-head-menu .home-menu').animate({'left':0},400)
        })

        $('.js-head-menu .home-menu').on('click',function(e){
            e.stopPropagation()
        })

        $('.js-head-menu').on('click',function(){
            $(this).find('.home-menu').css('left','-5.4rem');
            $(this).css('display','none');
            $('body').css('overflow','auto');
            $('html').css('overflow','auto');
        })

        /* 屏幕滚动-头部效果 */
        $(document).scroll(function(){
            var _h = $(this).scrollTop();
            var logo_h = $('.home-head-logo').height()
            if (_h>=0 && _h<logo_h-10) {
                $('.home-head').css('top', '-'+_h+'px')
                $('.home-head-search').css('margin-left', _h*0.9 + 'px')
            } else {
                $('.home-head').css('top', '-' + (logo_h-10) + 'px')
                $('.home-head-search').css('margin-left', (logo_h-10)*0.9 + 'px')
            }
            $('.js-show-head-menu').css({'position':'fixed', 'left':'.2rem', 'top':'0'})
        })
                  

        /* 头部数字动画效果 */
        setInterval(function(){
            if ($('.js-home-count li.active').next().length) {
                $('.js-home-count li.active').removeClass('active').next().addClass('active')
            } else {
                $('.js-home-count li.active').removeClass('active')
                $('.js-home-count li:eq(0)').addClass('active')
            }
        },6000)
        
        // 重新发激活邮件
        $('.active-user').on('click',function(){
            var email = $('#sendEmail').val();
            if(email) {
				$.ajax({
					url: "https://www.okchem.com/member/active_member?email=" + email,
					type: "GET",
					success: function(data) {
						var msgCode = data.message_code;
						if(msgCode) {
							if(msgCode === 'member.login.active.already') {
								location.href = '/member/index';
							} else if(msgCode === 'member.login.active.register') {
								location.href = '/register';
							} else if(msgCode === 'member.login.active.enabled') {
								location.href = '/login';
							} else if(msgCode === 'member.login.active.fail.interval') {
								$.bootstrapGrowl("You can activate this email again 60 minutes later.", {
									type: "warning"
								});								
							} else {
								location.href = '/member/active_member/success?email=' + email;
							}
						} else {
							location.href = '/member/active_member/success?email=' + email;
						}
					}
				});
            }           
        })
        
    })
</script>


</html>