<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Phosphoric acid (7664-38-2), Phosphoric acid (7664-38-2) Suppliers and
      Manufacturers at Okchem.com
    </title>
    <meta
      name="description"
      content="Phosphoric acid (7664-38-2), Wholesale Various High Quality Phosphoric acid (7664-38-2) Products from Global Sodium Tripolyphosphate Suppliers and Phosphoric acid (7664-38-2) Factory,Importer,Exporter at Okchem.com."
    />
    <meta
      name="keywords"
      content="Phosphoric acid (7664-38-2), Phosphoric acid (7664-38-2) Suppliers, Phosphoric acid (7664-38-2)Manufacturers"
    />
    <link
      rel="shortcut icon"
      href="https://s3cdn.okchem.com/common/icons/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="https://s3cdn.okchem.com/common/icons/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="alternate"
      hreflang="en"
      href="//m.okchem.com/showcasno/cas-7664-38-2.html"
    />
    <link
      rel="alternate"
      hreflang="es"
      href="//m.es.okchem.com/showcasno/cas-7664-38-2.html"
    />
    <link
      rel="alternate"
      hreflang="pt"
      href="//m.pt.okchem.com/showcasno/cas-7664-38-2.html"
    />
    <link
      rel="alternate"
      hreflang="ru"
      href="//m.ru.okchem.com/showcasno/cas-7664-38-2.html"
    />
    <link
      rel="canonical"
      href="https://m.okchem.com/showcasno/cas-7664-38-2.html"
    />
    <link
      rel="stylesheet"
      href="//wcdn.okchem.com/resources/common/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="//wcdn.okchem.com/resources/mobile/okchem/css/wap.css?2.17.4"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-80975232-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-80975232-1");

      function sendEvent(operator, category) {
        gtag("event", operator, {
          event_category: category
        });
      }
    </script>
  </head>
  <body>
    <div class="wap-box js-wap-box">
      <section>
        <div class="common-head">
          <a class="head-back" href="javascript:history.go(-1);">
            <img
              src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-back.png"
              alt="back"
            />
          </a>
          <div class="head-right">
            <a href="#">
              <img
                class="icon-search js-show-search"
                src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-search.png"
                alt="okchem search"
              />
            </a>
            <a class="js-show-head-list" href="javascript:void(0);">
              <img
                class="icon-menu"
                src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-menu.png"
                alt="menu"
              />
            </a>
          </div>
          <div class="head-list js-head-list">
            <div>
              <a href="/">Home</a>
              <a href="//m.okchem.com/member/inquiry/list">My Inquiries</a>
              <a href="/quotation-request/request">Post Buying Request</a>
              <a href="//m.okchem.com/member/product_favorite/list"
                >My Wishlist</a
              >
              <a href="//m.okchem.com/companyinfo/buyersguide"
                >Buyer User Guide</a
              >
              <a href="https://overseas-offices.m.en.okchem.com"
                >Overseas Offices</a
              >
              <a href="//m.okchem.com/companyinfo/aboutus">About OKCHEM</a>
            </div>
            <div>
              <select class="js-language">
                <option
                  data-lang="en"
                  selected
                  href="//m.okchem.com/showcasno/cas-7664-38-2.html"
                  value="en"
                  >English</option
                >
                <option
                  data-lang="es"
                  href="//m.es.okchem.com/showcasno/cas-7664-38-2.html"
                  value="es"
                  >Español</option
                >
                <option
                  data-lang="pt"
                  href="//m.pt.okchem.com/showcasno/cas-7664-38-2.html"
                  value="pt"
                  >Português</option
                >
                <option
                  data-lang="ru"
                  href="//m.ru.okchem.com/showcasno/cas-7664-38-2.html"
                  value="ru"
                  >Русский язык</option
                >
              </select>
            </div>
            <div>
              <a href="/member/login?redirectUrl=/showcasno/cas-7664-38-2.html"
                >Sign In</a
              >
              <a href="/member/register">Join Free</a>
            </div>
          </div>

          <input id="userType" type="hidden" value="" />
          <input id="businessIdentityType" type="hidden" value="" />
          <div class="head-search-cover">
            <div class="head-search-block">
              <form
                id="searchForm"
                action="/product/search"
                onsubmit="checkKeyword(this)"
              >
                <div class="head-input">
                  <div class="head-input-category js-head-category">
                    <img
                      src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-head-down.png"
                      alt=""
                    />
                    <ul>
                      <li class="active" data-type="product">
                        <img
                          class="left-img"
                          src="//wcdn.okchem.com/resources/mobile/okchem/images/bg-product-s.png"
                        />
                        <span>Products</span>
                        <img
                          class="icon-gg"
                          src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-gg.png"
                          alt=""
                        />
                      </li>

                      <li data-type="supplier">
                        <img
                          class="left-img"
                          src="//wcdn.okchem.com/resources/mobile/okchem/images/bg-supplier-s.png"
                        />
                        <span>Suppliers</span>
                        <img
                          class="icon-gg"
                          src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-gg.png"
                          alt=""
                        />
                      </li>

                      <!-- mobile全局搜索去掉news -->
                    </ul>
                  </div>
                  <div class="head-input-keyword">
                    <input
                      class="js-ok-think"
                      type="text"
                      id="keyword"
                      required
                      minlength="2"
                      maxlength="100"
                      name="keyword"
                      value=""
                      autocomplete="off"
                      placeholder="Any keyword of Product/Supplier"
                    />
                  </div>
                  <button type="submit"></button>
                </div>
              </form>
              <ul class="head-think">
                <li><a href="#"> Phosphoric Acid 85 </a></li>
                <li><a href="#"> Vital Wheat Gluten </a></li>
                <li><a href="#"> Sucralose </a></li>
                <li><a href="#"> Potassium Sorbate </a></li>
                <li><a href="#"> Xanthan Gum </a></li>
              </ul>
            </div>
          </div>
          <div class="common-head-title">
            Product List
          </div>
        </div>
      </section>
      <section>
        <div id="scrollLoad">
            <ul id="scrollLoadContent" class="plp-product-list js-plp-product-list" data-page="1">
                
            
		
		      
						<li data-id="222129" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809261213088.html">
                        <h3 class="auth">shandong chemical company
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide29997/c0d208c0-adac-11e8-8497-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809261213088" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809261213088&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="51170" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/orthophosphoric-acid-201809131042099.html">
                        <h3 class="auth">Hongkong Geehon Chemical International Ltd.
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Orthophosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/hkgeehon/2e06e2a2-a7cd-11e8-bbdd-0aa7d1b18cbf.jpg" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Orthophosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=orthophosphoric-acid-201809131042099" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Inorganic Acids</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=orthophosphoric-acid-201809131042099&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="117908" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809181108875.html">
                        <h3 class="auth">Shanghai Bailion Chemicals Co., Ltd
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric Acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/bailion/5b8bf24a-a9de-11e8-80d4-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric Acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809181108875" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809181108875&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="194980" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809261185939.html">
                        <h3 class="auth">HengJi Source Ex.&amp;Im. Co.,LTD
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide25212/c00fd8fa-ac57-11e8-86b8-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809261185939" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809261185939&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="139740" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/orthophosphoric-acid-201809191130707.html">
                        <h3 class="auth">AMRESCO Inc.
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Orthophosphoric Acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide12901/e14cd78a-aaa8-11e8-9485-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Orthophosphoric Acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=orthophosphoric-acid-201809191130707" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=orthophosphoric-acid-201809191130707&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="161147" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809211152106.html">
                        <h3 class="auth">Mutchler Chemical Company, Inc.
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide27610/62349a62-ab45-11e8-854a-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809211152106" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809211152106&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="64436" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809141055414.html">
                        <h3 class="auth">Tianjin J &amp; L Forever Trading Corp
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide34474/4c0fc22a-a825-11e8-9987-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809141055414" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809141055414&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="141206" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809191132173.html">
                        <h3 class="auth">Dongyang Tianyu Chemicals Co., Ltd.
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/dyxcw/bcdc3a4a-aab1-11e8-9485-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809191132173" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809191132173&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="204718" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809261195677.html">
                        <h3 class="auth">Shijiahzhuang Liangtai Chemicals Export and Import Co
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide29503/5593b1aa-acdd-11e8-b366-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809261195677" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809261195677&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="164906" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809211155865.html">
                        <h3 class="auth">Tianjin Lianxinshengyuan Chemical Co.,Ltd
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide33057/dc4fb1a8-ab61-11e8-854a-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809211155865" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809211155865&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="158873" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809211149832.html">
                        <h3 class="auth">Linyi Kemele Chemical Co., Ltd
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide26507/e2303962-ab34-11e8-b551-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809211149832" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809211149832&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="177175" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809251168134.html">
                        <h3 class="auth">Handan Tianmu Chemcal Co.,Ltd
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide25336/8a396554-abd3-11e8-8519-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809251168134" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809251168134&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="129065" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809181120032.html">
                        <h3 class="auth">Tianjin HongYeCheng Chemical Im&amp;Ex Co.,ld
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide33604/4d50b6f8-aa6e-11e8-a320-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809181120032" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809181120032&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="30783" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809111021716.html">
                        <h3 class="auth">NINGBO WIN CHEMICAL CO., LTD
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide27784/5bd07d74-a75a-11e8-aca9-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809111021716" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809111021716&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="161099" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809211152058.html">
                        <h3 class="auth">Tianjin Kaifengde Import And Export Co., Ltd.
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide32906/0ac5a622-ab45-11e8-854a-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809211152058" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809211152058&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="118384" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809181109351.html">
                        <h3 class="auth">Blue Express (Shanghai) International Trade Inc.
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric Acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/blue-express/ef8aeef4-a9e0-11e8-80d4-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric Acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809181109351" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809181109351&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="94304" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809151085282.html">
                        <h3 class="auth">GUIZHOU SINO-PHOS CHEMICAL CO.,LTD.
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="PHOSPHORIC ACID" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/gpcgf/51d5be86-a8bf-11e8-9441-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            PHOSPHORIC ACID
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809151085282" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809151085282&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="66204" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809141057182.html">
                        <h3 class="auth">ADVANCED TECH. &amp; IND. CO., LTD.
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/guide22715/68ffbc2e-a82e-11e8-9987-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809141057182" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809141057182&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="190728" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809251181687.html">
                        <h3 class="auth">Tianjin hd hengtai chemical Co. LTD
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/mdyf/4000144e-ac3f-11e8-86b8-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809251181687" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809251181687&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
		      
						<li data-id="242852" class="dynamicData">
                    <a class="clearfix" href="//m.okchem.com/product/phosphoric-acid-201809271233811.html">
                        <h3 class="auth">Loeffler Chemical Corporation
	                              
						         
						    
	                        
	                           <p></p>
	                        	
                        </h3>
                        <div class="plp-product-img">
                            <img class="lazy-load" alt="Phosphoric Acid" data-wxh="100x100" data-original="https://s3-us-west-1.amazonaws.com/beei-guide/loeffler/66793700-ae19-11e8-ae42-0aa7d1b18cbf.gif" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=">
                        </div>
                        <div class="plp-product-detail">
                            <h3>
                            
                            Phosphoric Acid
                            </h3>
                            
                               <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=phosphoric-acid-201809271233811" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                            
                            <p class="msg">
                                <span>Brand:</span>
                                <span>
                                </span>
                </p>
                <p class="msg">
                    <span>Categories:</span>
                    <span>Others</span>
                </p>
                <object>
                    <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=phosphoric-acid-201809271233811&amp;uri=">Inquire Now</a>
                </object>
            </div>
        </a>
    </li>
			   
    
</ul>
        <div class="scrollload-bottom"><div class="scrollload-loader"><span></span><span></span><span></span><span></span><span></span></div></div></div>
        </section>
    </div>
    <script src="//wcdn.okchem.com/resources/common/js/jquery.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/bootstrap.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/bootstrap-growl.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/jquery.validate.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/jquery.form.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/jquery.scrolltofixed.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/jquery.cookie.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/scrollload.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/underscore.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/url.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/jquery.lazyload.min.js"></script>
    <script src="//wcdn.okchem.com/resources/common/js/base.js?2.17.4&lang=en"></script>
    <script src="//wcdn.okchem.com/resources/mobile/okchem/js/wap.js?2.17.4"></script>
  </body>
  <script>
    $(function() {
      $("img.lazy-load").lazyload({
        threshold: 300,
        effect: "fadeIn"
      });
    });
  </script>
  <script id="scrollLoadTemplate" type="text/template">
    <%_.each(data, function(product, i) {%>
          <%if (!_.contains(data, product.id)) {%>
    				<li data-id=<%- product.id%> class="dynamicData">
                      <a class="clearfix" href="//m.okchem.com/product/<%- product.code%>.html">
                          <h3 <% if(product.storeRanking ==0) {%>class="auth"<%}%>><%-product.storeName%>
                           <%if (product.storeRanking == 3) {%>
    					  <img src="//wcdn.okchem.com/resources/mobile/okchem/images/icon-diamond-m.png">
    				    <%}%>
    				    <%if (product.storeRanking == 2) {%>
    					   <img src="//wcdn.okchem.com/resources/okchem/images/others/icon-plat.png">
    				    <%}%>
    				    <%if (product.storeRanking == 1) {%>
    					   <img src="//wcdn.okchem.com/resources/okchem/images/others/icon-gold.png">
    			        <%}%>
                           <%if (product.storeRanking == 0) {%>
                              <p></p>
                           <%}%>
                          </h3>
                          <div class="plp-product-img">
                              <img  class="lazy-load" alt="<%- product.rawProductName %>" data-wxh="100x100" data-original="<%- product.imageUrl %>">
                          </div>
                          <div class="plp-product-detail">
                              <h3>
                              <% if(product.isHot){ %>
                                  <i class="hot">Hot</i>
                              <% } %>
                              <%= product.productName %>
                              </h3>
                              <% if(product.fobPrice){ %>
                                 <p class="plp-price"><%-product.currency %> <i><%-product.fobPrice.toFixed(2) %></i>
    						<% if(product.maxPrice){ %>
    							- <%-product.currency %> <i><%-product.maxPrice.toFixed(2) %></i>
    						<% } %>/<%-product.priceUnit %></p>
                              <% }else{ %>
                                 <p class="plp-price"><object><a href="//m.okchem.com/inquiry/add?productCode=<%- product.code %>" class="get-price whether-to-jump-scroll">Get Latest Price</a></object></p>
                              <% } %>
                              <p class="msg">
                                  <span>Brand:</span>
                                  <span><% if(product.brandName){ %>
                                  <%- product.brandName%>
                                  <% } %>
                                  </span>
                  </p>
                  <p class="msg">
                      <span>Categories:</span>
                      <span><%- product.categoryName %></span>
                  </p>
                  <object>
                      <a class="contact whether-to-jump-scroll" href="/inquiry/add?productCode=<%= product.code %>&uri=">Inquire Now</a>
                  </object>
              </div>
          </a>
      </li>
    	  <%}%>
      <%});%>
  </script>
  <script src="//wcdn.okchem.com/resources/common/js/velocity.js"></script>
  <script src="//wcdn.okchem.com/resources/common/js/velocity.ui.js"></script>

  <script></script>
</html>
